<div class="router-container row" *ngIf="reservation$ | async as r">
    
    <h1 >Reservation ID: {{ r._id }}</h1>

    <div class="col-12 col-md-8 col-lg-7"> 
       <img [src]="r.apartment.imageUrl" class="img-apartment">    
    </div>
            
  
    <div class="col-12 col-md-4 col-lg-5">
              
        <!--User Info-->
        <p>Name:  {{ r.user.name }}</p>
        <p>Email: {{ r.user.email }}</p>
        <p>Phone: {{ r.user.phone }}</p>
        <hr>

       <!--Apartment Info-->
        <h1 class="mt-3">{{ r.apartment.title }}</h1>
        <p>Address: {{ r.apartment.address }}</p>
        
        <p>Check In:  {{ r.checkIn | date: 'MMM dd YYYY' }}</p>
        <p>Check Out: {{ r.checkOut | date: 'MMM dd YYYY'}}</p>
       
        <p>Your Price including Taxes:</p>
        <p class="price"> {{ r.rentalFee | currency: 'EUR' }}</p>
         
        <div class="text-center">
            <button class="btn btn-primary m-2 btn-back" (click)="back()">Back</button> 
            <button class="btn btn-danger m-2 btn-delete" (click)="delete()">Delete</button>        
        </div>
       
    </div>
</div>