/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
    padding-top: 52px;
    min-height: 100vh;
 }
.router-container {
    padding: 70px 20px;
 }