<!-- Footer -->
<footer class="bg-dark mt-5">

  <div class="m-3 text-center">

    <!-- Links -->
    <ul class="list-group list-group-horizontal-md footer-links
          text-uppercase d-flex justify-content-center justify-content-md-end">
      <li>About Us</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
    </ul>
    <hr>

    <!-- Copyright -->
    <div class="pb-2 copyright"> &copy; 2021 Copyright: Indira Huseinagic
      <p> <small>
          This page is made for learning purposes,
          and will not be used for commercial or any other similar purposes.
          The author of the site does not own the copyright of the images.
        </small>
      </p>
    </div>

  </div>
</footer>